html {
	color:#2b2b2b;
}
body{
    padding:0;
    font-family: 'Lato', sans-serif;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -moz-text-size-adjust:none;
    text-size-adjust:none;
}
.active {
    transition: all 1s;
    transform: scale(0.90,0.90);
    box-shadow:0px 0px 5px 5px rgba(0,0,0,0.75);
}
#loadPageFromURLScreen {
    position:fixed;
    background-color:#ecebeb;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1000;
}
#pageToModify {
	width:100%;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;

}
#goToURL {
	width:100%;
	padding:10px;
	margin-left:3px;
	font-size:20px;
}
	#goToURL:hover {
		transition: all 1s;
    	transform: scale(0.98,0.98);
    	cursor: pointer;
	}
#section {
	position:absolute;
    left: 50%;
    top: 50%;
    width:710px;
    height:200px;
    margin-top: -100px;
    margin-left: -355px;
}
#section h2 {
	font-size:150%;
}
.generatorMenu {
    position:fixed;
    background-color:#ecebeb;
    left:0;
    top:0;
    width:100%;
    height:100%;  
}
    .hideSection {
        display:none;
        z-index:-1000;
    }
    .showSection {
        display:block;
        z-index:1000;
    }
/*#generatorSection {
    opacity:1;
}*/
#leaveEditMode {
    position:fixed;
    left:80%;
    top:20%;
    font-size:50px;
    color:black;
}
#sliderOfElementsToEdit {
    position:fixed;
    top:0;
    left:0;
    max-width:100px;
    height:auto;
    background-color: white;
    opacity:0.9;
}
.boxInSlider {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height:auto;
    padding:3px;
    max-height: 100px;
    width:auto;
    width: 100px;
    margin-right:5px;
    border-style: solid;
    float:left;
}
.boxInSlider:hover {
    transition: all 1s;
    transform: scale(0.9,0.9);
    cursor:pointer;
}
    #slideUp {
        position:fixed;
        color:blue;
        left:110px;
        top:40%;
        z-index:10000000000;
        font-size:50px;
        transform: rotate(90deg);
    }
    #slideDown {
        color:blue;
        position:fixed;
        left:110px;
        top:50%;
        z-index:10000000000;
        font-size:50px;
        transform: rotate(90deg);
    }
    #slideUp:hover {
        cursor:pointer;
        transition: all 1s;
        color:yellow;
        transform: rotate(90deg);

    }
    #slideDown:hover {
        color:yellow;
        transition: all 1s;
        transform: scale(0.9,0.9);
        cursor:pointer;
        transform: rotate(90deg);
    }
